html, body {
    size: 100%;
    margin: 0;
    padding: 0;
}

#lists {
    display: flex;
    flex-wrap: wrap;
}

.addlst {
    width: 70px;
}

title {
    display: inline;
}

.fas {
    margin: 10px;
    border-radius: 10%;
}

.list {
    min-width: 320px;
    border: 1px solid;
}

.list, .card {
    max-width: 400px;
    margin: 10px;
    border-radius: 5%;
}

.card header p {
    height: 50%;
}

.card * {
    margin: 5px;
}

.card header {
    /*  */
    display: grid;
    grid-template-columns: 10fr 1fr;
    border-radius: 20% 0;
}

#cardmaker div {
    min-height: 600px;
    max-width: 600px;
}

.state0 {
    background-color: rgb(255, 82, 82);
}

.state1 {
    background-color: rgb(240, 191, 100);
}

.state2 {
    background-color: rgba(0, 255, 255, 0.377);
}
.ghost {
    opacity: 0.5;
}